/* TIPOGRAFÍA */
$fuente_parrafos : 'Montserrat',
sans-serif;
$fuente_titulos : 'Bebas Neue',
cursive;

/* PALETA DE COLORES */
$negro : #000000;
$blanco : #ffffff;
$azul_oscuro : #0b1215;
$azul_grisaceo : #1f4752;
$azul_palido : #4b7d8d;
$azul_pastel : #bbd5db;
$rosa_palido : #eccba7;

/* TAMAÑO DE MEDIA QUERIES */
$telefono : 480px;
$tablet : 768px;
$desktop : 992px;
$desktopXL : 1200px;